---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';

import Hero from '../components/HeroSection.astro';
---

<Layout title="HITRO | Defensa Personal">

    <Navbar />

    <main>
        <Hero />
    </main>

</Layout>