---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="HITRO | ">
    <Navbar />
	<main class="h-screen flex flex-col items-center justify-center text-center px-4">

	</main>
</Layout>