---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ProcesoAdmision from '../components/Proceso-admision.astro';
---

<Layout title="HITRO | Defensa Personal Valencia">

    <Navbar />

    <main>

        <Hero />

        <ProcesoAdmision />

    </main>

</Layout>