---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Admission_Process from '../components/Admision_Process.astro';
import Coach from '../components/Coach_Index.astro';
import Metod from '../components/Metod.astro';
import Trainning from '../components/Trainning.astro';
---

<Layout title="HITRO | Defensa Personal Valencia">

    <Navbar />

    <main>

        <Hero />
        <Coach />
        <Metod />
        <Trainning />
        <Admission_Process />



    </main>

</Layout>