<nav class="fixed w-full z-50 top-0 px-4 py-4">
    <div class="bg-black text-white border border-gray-700 rounded-full p-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold">
            <span class="text-blue-600">H</span>ITRO
        </h1>
		<div class=" flex justify-between items-center gap-20">
			<a class="text-sm font-bold" href="">El Método</a>
			<a class="text-sm font-bold" href="">Admisión</a>
			<a class="text-sm font-bold" href="">Horarios</a>
			<a class="text-sm font-bold text-blue-600" href="">Aula Virtual</a>
		</div>
		<div>
			<a class="text-sm font-bold rounded-full bg-white text-black px-4 py-2 " href="">Tienda</a>
		</div>
    </div>
</nav>