---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/index/NavBar.astro";
import AulaVirtual from "../components/aula/Aula-Virtual.astro";
---

<Layout title="Aula Virtual | HITRO">
  <Navbar />
  <main class="pt-24 bg-[#050505] min-h-screen">
    <AulaVirtual />
  </main>
</Layout>