---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/index/NavBar.astro";
import Tienda from "../components/store/Tienda.astro";
---

<Layout title="Tienda | HITRO">
  <Navbar />
  <main class="pt-24 bg-[#050505] min-h-screen">
    <Tienda />
  </main>
</Layout>