---
interface Props {
	title: string;
    description?: string;
}

const { title, description = "HITRO - Defensa Personal" } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Syne:wght@700;800&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/lucide@latest"></script>
	</head>

    <!-- AQUI ESTÃ LA CLAVE: bg-brand-bg -->
	<body class="bg-brand-bg text-brand-text antialiased selection:bg-brand-blue selection:text-white">
		<slot />
        <script is:inline>
            lucide.createIcons();
        </script>
	</body>
</html>

<style is:global>
	body { font-family: "Plus Jakarta Sans", sans-serif; }
    h1, h2, h3, h4, h5, h6 { font-family: "Syne", sans-serif; }
</style>